*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

section{
	background-color: #fefff7;
}


div.form-content{
	background-image: url("../assets/bg44.jpg");
	width:100%;
	height: 100%;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.side-form{
	display: block;
 	margin-left: auto;
	margin-right: auto;
}

.side-image{
	display: block;
 	margin-left: auto;
	margin-right: auto;
}

.cadastro{
	align-items: center;
    background-color: #FEFFF7;
    width: 500px;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 200px;
    border: 1px solid #363636;
    border-radius: 4px;
}

.cadastro h2{
    border-radius: 4px;
    color: #FEFFF7;
    background-color: #363636;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;;
    border: 1px dotted #363636;
}

h4{
    padding-bottom: 5px;
    color: #363636;
}

.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-box:last-child{
    margin-right: 0;
}

.name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #FEFFF7;
    border: 1px solid #363636;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 4px;
    color: #363636;
}


.input-box .icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #FEFFF7;
    background-color: #363636;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #363636;
    border-right: none;
}


.dob{
    width: 32%;
    padding: 14px;
    text-align: center;
    background-color: #FEFFF7;
    transition: 0.3s;
    outline: none;
    border: 1px solid #363636;
    border-radius: 4px;
}

.radio{
    display: none;
}

#contato{
    margin-top: 23.5px;
}

.input-box label{
    width: 50%;
    padding: 13px;
    background-color: #FEFFF7;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #363636;
}

.input-box label:first-of-type{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;

}

.input-box label:last-of-type{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.radio:checked + label{
    background-color: #363636;
    color:#FEFFF7;
    transition: 0.5s;
}

.input-box select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #FEFFF7;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #363636;
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-box select:first-of-type{
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-box select:last-of-type{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-box select:focus{
    background-color: #363636;
    color:#FEFFF7;
    text-align: center;
}

button{
    width: 100%;
    font-weight: bold;
    background: transparent;
    border: none;
    background-color: #363636;
    color: #FEFFF7;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;;
    transition: all 0.5s ease;
}

.depoimento h1{
    color:#FEFFF7;
    font-size: 37px;
    margin-bottom: 60px;
    text-align: center;
}

.card{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.card .membro{
    background-color: #FEFFF7;
    margin: 5px;
    margin-bottom: 50px;
    width: 450px;
    padding: 20px;
    line-height: 20px;
    color: #363636;
    position: relative;
}

.card .membro h3{
    color: #363636;
    font-size: 22px;
    margin-top: 50px;
}

.card .membro p.cargo{
    color: gray;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.card .membro p.depoimento{
	text-align: justify;
}

.card .membro .user_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FEFFF7;
}

.card .membro .user_img img{
    width: 100px;
    height: 100px;
    padding: 10px;
}


textarea {
    width: 100%;
    height: 100px;
    background-color: #FEFFF7;
    border: solid 1px #363636;
    border-radius: 4px;
  }

a#h4{
	text-decoration: none;
	color: #85a9a4;
}

a#forgot-pass{
	text-decoration: none;
	color: #363636;
}

a#forgot-pass:hover{
	text-decoration: none;
	color: #85a9a4;
}

@media only screen and (max-device-width: 500px) {
	
	div.cadastro{
		width:80% !important;
		margin-bottom: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	div.form-content{
		width:100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		display:flex !important;
	}
	div.side-form{
		width:100% !important;
	}
	div.side-image{
		width: 0%;
		height: 0%;
	}
	
	/*Coisas do footer, favor não mexer*/
	footer{
		width: 100%;
		height:700px;
		padding: 0;
		padding-top: 15px;
	}
	
	div.sec{
		grid-column:1 / 5;
	}
	
	div.about-us{
		height:250px;
		margin-right:0;
	}
	
	div.know-more{
		height:200px;
		margin-right:0;
	}
	
	div.talk-to-us{
		margin-bottom: 25px;
		margin-top: 15px;
	}
	
	div.copyright{
		bottom:0;
		position: relative;
	}
	
	ul.info{
		align-items: center !important;
	}
	
	input#check{
		display: flex;
	}
	
}
