<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UsuarioCurriculoServlet</servlet-name>
  	<display-name>UsuarioCurriculoServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.UsuarioCurriculoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpresaVagasServlet</servlet-name>
  	<display-name>EmpresaVagasServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.EmpresaVagasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioVagasServlet</servlet-name>
  	<display-name>UsuarioVagasServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.UsuarioVagasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioLoginServlet</servlet-name>
  	<display-name>UsuarioLoginServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.UsuarioLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PassRecoverServlet</servlet-name>
  	<display-name>PassRecoverServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.PassRecoverServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioLogoutServlet</servlet-name>
  	<display-name>UsuarioLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.UsuarioLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VagasDaEmpresaServlet</servlet-name>
  	<display-name>VagasDaEmpresaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.VagasDaEmpresaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpresaInfosServlet</servlet-name>
  	<display-name>EmpresaInfosServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.EmpresaInfosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IsUsuarioCadastradoServlet</servlet-name>
  	<display-name>IsUsuarioCadastradoServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.IsUsuarioCadastradoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UsuarioCurriculoServlet</servlet-name>
  	<url-pattern>/UsuarioCurriculoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpresaVagasServlet</servlet-name>
  	<url-pattern>/EmpresaVagasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioVagasServlet</servlet-name>
  	<url-pattern>/UsuarioVagasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioLoginServlet</servlet-name>
  	<url-pattern>/UsuarioLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PassRecoverServlet</servlet-name>
  	<url-pattern>/PassRecoverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioLogoutServlet</servlet-name>
  	<url-pattern>/UsuarioLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VagasDaEmpresaServlet</servlet-name>
  	<url-pattern>/VagasDaEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpresaInfosServlet</servlet-name>
  	<url-pattern>/EmpresaInfosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IsUsuarioCadastradoServlet</servlet-name>
  	<url-pattern>/IsUsuarioCadastradoServlet</url-pattern>
  </servlet-mapping>
</web-app>
