@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #363636;
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: 3fr;
}

footer .container{
    align-items: center;
	height: 200px;
    display: grid;
    justify-content: space-between;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr; 
}


footer .container h2{
    position: relative;
    text-transform: uppercase;
    color: #FEFFF7;
    font-weight: 400;
    margin-bottom: 15px;
}


.about-us{
	height: 200px;
	margin-right: 30px;
}

footer .container #bolder{
    font-weight: 800;
}

footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #BAD1CE;
}

footer p{
    color:#a3a39f;
}

.sci{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color:#FEFFF7;
}

.sci li a:hover{
    background-color: #FEFFF7;
    color: #363636;
    transition: 1s;
}

.sci li a .fa{
    font-size: 20px;
}
.know-more{
  height: 200px;
  margin-right: 30px;
  position: relative;
}

.know-more ul li{
    list-style: none;
}

.know-more ul li a{
   color:#a3a39f;
   text-decoration: none;
   margin-bottom: 10px;
   display: inline-block;
}

.know-more ul li a:hover{
    color:#FEFFF7;

}

.talk-to-us{
	height: 200px;
}

.talk-to-us .info{
    display: inline-block;
}

.talk-to-us .info ul{
	justify-content: center;
	display: flex;
}

.talk-to-us .info li{
    display: flex;
    text-align: center;
    margin-bottom: 16px;
}

.talk-to-us .info li span:nth-child(1){
    color: #FEFFF7;
    font-size: 20px;
    margin-right: 10px;
}

.talk-to-us .info li span{
    color: #a3a39f;
}

.talk-to-us .info li a{
    color: #a3a39f;
    text-decoration: none;
}

.talk-to-us .info li a:hover{
    color:#FEFFF7;
}

.copyright{
    width: 100%;
    background-color: #242424;
    padding: 8px 100px;
    text-align: center;
    color: #FEFFF7;
}

@media only screen and (max-device-width: 500px) {
	.container{
		width: 100% !important;
		margin-left:0 !important;
	}
	footer{
		width: 100%;
		height:700px;
		padding: 0;
		padding-top: 15px;
	}
	
	div.sec{
		grid-column:1 / 5;
	}
	
	div.about-us{
		height:250px;
		margin-right:0;
	}
	
	div.know-more{
		height:200px;
		margin-right:0;
	}
	
	div.talk-to-us{
		margin-bottom: 25px;
		margin-top: 15px;
	}
	
	div.copyright{
		bottom:0;
		position: relative;
	}
	
	ul.info{
		align-items: center !important;
	}
	
	/*input#check{
		display: flex;
	}*/
}